/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background:   url(rock-paper-scis.png) repeat;
  padding: 0;
  margin: 0;
}

#gameWrap {
  width: 560px;
  margin: 7% auto;
  padding: 4%;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
  background-color: #FFD76A;
  background-image: linear-gradient(#DDDDDD, #888888);
}

#mainHeading {
    line-height: 0;
    text-align: center;
    color: #333;
  }

#msgHeading {
    margin-bottom: 2em;
    font-size: 1.2em;
    text-align: center;
  }

#userWrap, #cpuWrap {
    width: 49.9%;
    float: left;
    padding: 4% 0;
    text-align: center;
    background: rgba(255,255,255,0.1)
  }

#userWrap {
    border-right: 1px solid #333;

  }

#userInput, #cpuResult {
    display: block;
    width: 120px;
    padding: 0.5em;
    margin: 1% auto;
    text-align: center;
    color: #30B;
    font-weight: 900;
    background: none;
    border-style: none;
    border-bottom: 1px solid #333;
  }

#cpuResult {
    height: 22px;
  }

#goBtn {
    padding: 2%;
    margin-top: 5%;
    font-size: 1.3em;
    color: #fff;
    border-style: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    background-color: #6600BB;
  }

  #resetBtn {
    padding: 2%;
    margin-top: 5%;
    font-size: 1.3em;
    color: #fff;
    border-style: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    background-color: #6600BB;
  }
}